* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode'
}

* img{
    -webkit-user-drag: none;
}

* button{
  background: transparent;
  font-family: 'Lucida Sans Unicode';
  color: rgb(82, 135, 156);
  font-size: 28px;
  padding: 10px 17px;
  text-decoration: none;
  border: solid 1.5px #82C0D9;
}

* button:hover{
  background: #82C0D9;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.25s;
}

* button, input:focus{
    outline: none;
}

* a{
    text-decoration: none;
}

.body{
    width: 100%;
}