.obdy{
    text-align: center;
}

.obdy img{
    width: 20%;
}

.obdy input{
    width: 50%;
}

.obdy span{
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.obdy form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

form button{
    align-self: center;
}

.obdy button{
    width: 10%;
    height: 50px;
    margin-top: 30px;
    text-align: center;
    padding: 0px;
    font-size: 25px;
}

.obdy input{
    height: 40px;
    padding: 20px;
    align-self: center;
    border: 2px solid #82C0D9;
}

.obdy input::placeholder{
    color: #82C0D9;
}

.obdy input:focus{
    background-color: rgba(130, 192, 217, 0.09);
    transition: 0.3s;
}